html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F5F5F5;
}

header {
    color: #C7D2D9
}

.header-color {
    background-color: #C7D2D9;
}

.modal-color {
    background-color: #DCE4E9;
}

.static-modal {
    position: static;
    display: block;
}

.fs-7 {
    font-size: 0.8rem!important
}