@{
    ViewData["Title"] = "Регистрация";
}
@model RegistrationViewModel

<form class="needs-validation" novalidate method="post" asp-controller="Registration" asp-action="Registration" enctype="multipart/form-data">
    <div class="modal static-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header modal-color">
                    <span class="modal-title">Регистрация нового пользователя</span>
                </div>


                <div class="modal-body d-flex flex-column align-items-center">
                    
                    <div class="row align-items-start w-100">
                        <div class="col">
                            <div class="mb-3 w-100">
                                <label asp-for="UserName" class="form-label"></label><br />
                                <input asp-for="UserName" required class="form-control" />
                                <span class="d-flex justify-content-center text-danger" asp-validation-for="UserName"></span>
                            </div>

                            <div class="mb-3 w-100">
                                <label asp-for="Email" class="form-label"></label><br />
                                <input asp-for="Email" required placeholder="example@ex.ru" class="form-control" />
                                <span class="d-flex justify-content-center text-danger" asp-validation-for="Email"></span>
                            </div>
                            
                            <div class="mb-3 w-100">
                                <label asp-for="Password" class="form-label"></label><br />
                                <input asp-for="Password" required class="form-control" />
                                <span class="d-flex justify-content-center text-danger" asp-validation-for="Password"></span>
                            </div>

                            <div class="mb-3 w-100">
                                <label asp-for="ConfirmPassword" class="form-label"></label><br />
                                <input asp-for="ConfirmPassword" required class="form-control" />
                                <span class="d-flex justify-content-center text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>

                            <div class="mb-3 w-100">
                                <label asp-for="LastName" class="form-label"></label><br />
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName"></span>
                            </div>

                            <div class="mb-3 w-100">
                                <label asp-for="FirstName" class="form-label"></label><br />
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName"></span>
                            </div>
                        </div>
                        <div class="col" id="photoPreview">
                            
                        </div>
                    </div>

                    <div class="row w-100">
                        <div class="mb-3  ">
                            <label for="fileupload" class="form-label">Выберите фото</label>
                            <input class="form-control form-control-sm"  id="fileupload" formnovalidate="formnovalidate" type="file" name="photo">
                        </div>
                    </div>

                    <div class="row w-100">
                        <div class="mb-3 w-100">
                            <label asp-for="ContactInfo" class="form-label"></label>
                            <textarea asp-for="ContactInfo" type="text" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="ContactInfo"></span>
                        </div>

                        <div class="mb-3 w-100">
                            <label asp-for="About" class="form-label"></label>
                            <textarea asp-for="About" type="text" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="About"></span>
                        </div>

                        <div class="mb-3 w-100">
                            <label asp-for="Achievements" class="form-label"></label>
                            <textarea asp-for="Achievements" type="text" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Achievements"></span>
                        </div>
                    </div>

                    <div class="row w-100">
                        <div class="col">
                            <label class="float-start  ">* - поля, обязательные для заполнения</label>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary float-end">Зарегистрироваться</button>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>
<div class="d-flex align-items-center justify-content-center">
    <label class="mx-3 ">Уже есть аккаунт?</label>
    <a class="btn btn-primary" asp-area="" asp-controller="Login" asp-action="Index">Войти</a>
</div>


<script type="text/javascript">
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {        
          if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

<script type="text/javascript">
    $(function() {
        $("#fileupload").change(function() {
            $("#photoPreview").html("");
            var regex = /^([a-zA-Zа-яА-Я0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
            if (regex.test($(this).val().toLowerCase())) {
                if (typeof (FileReader) != "undefined") {
                    $("#photoPreview").show();
                    $("#photoPreview").append("<img />");
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $("#photoPreview img").attr("src", e.target.result);
                        $("#photoPreview img").attr("style", "width: 100%");
                    }
                    reader.readAsDataURL($(this)[0].files[0]);
                } else {
                    alert("This browser does not support FileReader.");
                }
            } else {
                alert("Please upload a valid image file.");
            }
        });
    });
</script>

<script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>